
layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:/home/aoeu/.cache/zellij/zjstatus.wasm" {
                format_left   "HELLO"
                format_center "{command_weather} {datetime}"
                format_right  "{tabs} {session}"
                format_space  " "
                format_hide_on_overlength "false"
                format_precedence "rLC"
                border_enabled false
                hide_frame_for_single_pane false
                mode_locked "#[fg=#FFFFFF,bold]LOCK "
                mode_normal "#[fg=#FFFFFF,bold]NORMAL "
                mode_pane   "#[fg=#FFFFFF,bold]PANE "
                tab_normal "#[fg=#FFFFFF]{index}:{name} "
                tab_active "#[fg=#FFFFFF,bold]{index}:{name} "
                command_ram_command "/run/current-system/profile/bin/nu /home/aoeu/.config/zellij/scripts/ram.nu"
                command_ram_format "#[fg=#FFFFFF] {stdout} "
                command_ram_interval "10"
                command_ram_rendermode "static"
                command_cpu_command "/run/current-system/profile/bin/nu /home/aoeu/.config/zellij/scripts/cpu.nu"
                command_cpu_format "#[fg=#FFFFFF] {stdout} "
                command_cpu_interval "5"
                command_cpu_rendermode "static"
                command_weather_command "/run/current-system/profile/bin/nu /home/aoeu/.config/zellij/scripts/weather.nu"
                command_weather_format "#[fg=#FFFFFF,bold]{stdout} "
                command_weather_interval "1800"
                command_weather_rendermode "static"
                datetime "#[fg=#FFFFFF,bold]{format}"
                datetime_format "%a %d %b %Y %H:%M"
                datetime_timezone "Europe/Bucharest"
            }
        }
    }
}