*~
.#*
\#*\#
auto-save-list/
elpa/
eln-cache/
eln/
cache/
network-security.data
places
recentf
savehist
bookmarks
custom.el
early-init-custom.el
persp-confs/
projectile-bookmarks.eld
projectile.cache
straight/
/manifolding-emacs/
vulpea.db

manifolding-emacs-errors.log.el
