*~
.#*
\#*\#
auto-save-list/
elpa/
eln-cache/
eln/
cache/
.cache/
network-security.data
places
recentf
savehist
bookmarks
custom.el
early-init-custom.el
persp-confs/
projectile-bookmarks.eld
projectile.cache
straight/
/manifolding-emacs/
manifolding-atlas.db
manifolding-atlas.db.corrupted
.org-id-locations
elfeed/
eww-bookmarks
hackernews/
projects
request/
tramp
transient/
latex-template/*.pdf
latex-template/images/
:memory:

manifolding-emacs-errors.log.el
org-roam.db
